<!-- <div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa fa-calendar fa-fw "></i> 
			我的日程
		</h1>
	</div>
</div> -->
<!-- row -->

<div class="row">

	<div class="col-sm-12 col-md-12 col-lg-3">
		<!-- new widget -->
		<div class="panel panel-default"> 
        	<div class="panel-heading">添加</div>
        	<div class="panel-body">

			<form id="add-event-form">
				<fieldset>

					<div class="form-group">
						<label>选择事件图标</label>
						<div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
							<label class="btn btn-default active">
								<input type="radio" name="iconselect" id="icon-1" value="glyphicon-info-sign" checked>
								<i class="glyphicon glyphicon-info-sign text-muted"></i> </label>
							<label class="btn btn-default">
								<input type="radio" name="iconselect" id="icon-2" value="glyphicon-warning-sign">
								<i class="glyphicon glyphicon-warning-sign text-muted"></i> </label>
							<label class="btn btn-default">
								<input type="radio" name="iconselect" id="icon-3" value="glyphicon-check">
								<i class="glyphicon glyphicon-check text-muted"></i> </label>
							<label class="btn btn-default">
								<input type="radio" name="iconselect" id="icon-4" value="glyphicon-user">
								<i class="glyphicon glyphicon-user text-muted"></i> </label>
							<label class="btn btn-default">
								<input type="radio" name="iconselect" id="icon-5" value="glyphicon-lock">
								<i class="glyphicon glyphicon-lock text-muted"></i> </label>
							<label class="btn btn-default">
								<input type="radio" name="iconselect" id="icon-6" value="glyphicon-time">
								<i class="glyphicon glyphicon-time text-muted"></i> </label>
						</div>
					</div>

					<div class="form-group">
						<label>标题</label>
						<input class="form-control"  id="title" name="title" maxlength="40" type="text" placeholder="">
					</div>
					<div class="form-group">
						<label>时间</label>
						<input class="form-control"  id="range" name="range" maxlength="40" type="text" placeholder="">
						<input type="hidden" id="start"/>
						<input type="hidden" id="end"/>
					</div>
					<div class="form-group">
						<label>备注</label>
						<textarea class="form-control" placeholder="" rows="3" maxlength="40" id="description"></textarea>
						<p class="note">最大长度为40个字符。</p>
					</div>

					<div class="form-group">
						<label>选择标记颜色</label>
						<div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons">
							<label class="btn bg-color-darken active">
								<input type="radio" name="priority" id="option1" value="bg-color-darken txt-color-white" checked>
								<i class="glyphicon glyphicon-ok txt-color-white"></i> </label>
							<label class="btn bg-color-blue">
								<input type="radio" name="priority" id="option2" value="bg-color-blue txt-color-white">
								<i class="glyphicon glyphicon-ok txt-color-white"></i> </label>
							<label class="btn bg-color-orange">
								<input type="radio" name="priority" id="option3" value="bg-color-orange txt-color-white">
								<i class="glyphicon glyphicon-ok txt-color-white"></i> </label>
							<label class="btn bg-color-greenLight">
								<input type="radio" name="priority" id="option4" value="bg-color-greenLight txt-color-white">
								<i class="glyphicon glyphicon-ok txt-color-white"></i> </label>
							<label class="btn bg-color-blueLight">
								<input type="radio" name="priority" id="option5" value="bg-color-blueLight txt-color-white">
								<i class="glyphicon glyphicon-ok txt-color-white"></i> </label>
							<label class="btn bg-color-red">
								<input type="radio" name="priority" id="option6" value="bg-color-red txt-color-white">
								<i class="glyphicon glyphicon-ok txt-color-white"></i> </label>
						</div>
					</div>

				</fieldset>
				<div class="form-actions">
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-default" type="button" id="add-event" >
								添加
							</button>
						</div>
					</div>
				</div>
			</form>

			<!-- end content -->
		</div>
		</div>
		<div class="panel panel-default"> 
        	<div class="panel-heading">预览</div>
        	<div class="panel-body">
				<form>
					<legend>
						Draggable Events
					</legend>
					<ul id='external-events' class="list-unstyled">
						<li>
							<span class="bg-color-darken txt-color-white" data-description="Currently busy" data-icon="fa-time">Office Meeting</span>
						</li>
						<li>
							<span class="bg-color-blue txt-color-white" data-description="No Description" data-icon="fa-pie">Lunch Break</span>
						</li>
						<li>
							<span class="bg-color-red txt-color-white" data-description="Urgent Tasks" data-icon="fa-alert">URGENT</span>
						</li>
					</ul>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="drop-remove" class="checkbox style-0" checked="checked">
							<span>remove after drop</span> </label>

					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-9">

		<div class="panel panel-default"> 
        	<div class="panel-heading">我的日程</div>
        	<div class="panel-body">
				<div id="calendar"></div>
			</div>
			<!-- end widget div -->
		</div>
		<!-- end widget -->

	</div>

</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/fullcalendar.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/daterangepicker.css">
<script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="/javascripts/fullcalendar/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/javascripts/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/javascripts/daterangepicker.js"></script>
<script type="text/javascript">
	moment.locale('zh-cn');
	$.fullCalendar.lang("zh-cn", {
		buttonText: {
			month: "月",
			week: "周",
			day: "日",
			list: "日程",
			today:"今天"
		},
		allDayText: "全天",
		eventLimitText: function(n) {
			return "另外 " + n + " 个";
		}
	});
	// pagefunction
	
	var fullviewcalendar;

	var pagefunction = function() {
		
		// full calendar
		
		var date = new Date();
	    var d = date.getDate();
	    var m = date.getMonth();
	    var y = date.getFullYear();
		
		//加载DATERANGEPICKER，日期范围控件
		$('#range').daterangepicker({
		    "timePicker": true,
		    "timePicker24Hour": true
		}, function(start, end, label) {
		  $("#start").val(start.format("YYYY-MM-DD HH:mm:ss"));
		  $("#end").val(end.format("YYYY-MM-DD HH:mm:ss"));
		  //console.log('New date range selected: ' + start.format('YYYY-MM-DD HH:mm:ss') + ' to ' + end.format('YYYY-MM-DD HH:mm:ss') + ' (predefined range: ' + label + ')');
		});
		$("#start").val(date.format("YYYY-MM-DD 00:00:00"));
		$("#end").val(date.format("YYYY-MM-DD 23:59:59"));

	    var hdr = {
			left: 'prev,next today',
			center: 'title',
			right: 'month,basicWeek,basicDay'
		};
	    var initDrag = function (e) {
	        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
	        // it doesn't need to have a start or end
	
	        var eventObject = {
	            title: $.trim(e.children().text()), // use the element's text as the event title
	            description: $.trim(e.children('span').attr('data-description')),
	            start: $.trim(e.children("span").attr("data-start")).replace(/-/g,"/"),
	            end: $.trim(e.children("span").attr("data-end")).replace(/-/g,"/"),
	            icon: $.trim(e.children('span').attr('data-icon')),
	            className: $.trim(e.children('span').attr('class')) // use the element's children as the event class
	        };
	        // store the Event Object in the DOM element so we can get to it later
	        e.data('eventObject', eventObject);
	
	        // make the event draggable using jQuery UI
	        e.draggable({
	            zIndex: 999,
	            revert: true, // will cause the event to go back to its
	            revertDuration: 0 //  original position after the drag
	        });
	    };
	
	    var addEvent = function (title, priority, description, icon, range) {
	        title = title.length === 0 ? "Untitled Event" : title;
	        description = description.length === 0 ? "No Description" : description;
	        icon = icon.length === 0 ? " " : icon;
	        priority = priority.length === 0 ? "label label-default" : priority;
			
	        var html = $('<li><span class="' + priority + '" data-start="' + range.start + '" data-end="' + range.end + 
	        	'" data-description="' + description + '" data-icon="' +
	            icon + '">' + title + '</span></li>').prependTo('ul#external-events').hide().fadeIn();
	
	        $("#event-container").effect("highlight", 800);
	
	        initDrag(html);
	    };
	
	    /* initialize the external events
		 -----------------------------------------------------------------*/
	
	    $('#external-events > li').each(function () {
	        initDrag($(this));
	    });
	
	    $('#add-event').click(function () {
	        var title = $('#title').val(),
	            priority = $('input:radio[name=priority]:checked').val(),
	            description = $('#description').val(),
	            icon = $('input:radio[name=iconselect]:checked').val(),
	            range = {start: $("#start").val(),end: $("#end").val()};
	
	        addEvent(title, priority, description, icon, range);
	    });
	
	    /* initialize the calendar
		 -----------------------------------------------------------------*/
	
	    fullviewcalendar = $('#calendar').fullCalendar({
	
	        header: hdr,
	       /* buttonText: {
	            prev: '<span class="glyphicon glyphicon-chevron-left"></span>',
	            next: '<span class="glyphicon glyphicon-chevron-right"></span>'
	        },
	*/
			lang:"zh-cn",
	        editable: true,
	        droppable: true, // this allows things to be dropped onto the calendar !!!
	
	        drop: function (date, allDay) { // this function is called when something is dropped
	
	            // retrieve the dropped element's stored Event Object
	            var originalEventObject = $(this).data('eventObject');
	
	            // we need to copy it, so that multiple events don't have a reference to the same object
	            var copiedEventObject = $.extend({editable:true}, originalEventObject);
	
	            // assign it the date that was reported
	            if(!originalEventObject.start){
	           	 copiedEventObject.start = date;copiedEventObject.allDay = allDay;
	        	}
	            //
	
	            // render the event on the calendar
	            // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
	            $('#calendar').fullCalendar('renderEvent', copiedEventObject);
	
	            // is the "remove after drop" checkbox checked?
	            if ($('#drop-remove').is(':checked')) {
	                // if so, remove the element from the "Draggable Events" list
	                $(this).remove();
	            }
	
	        },
	
	        select: function (start, end, allDay) {
	            var title = prompt('Event Title:');
	            if (title) {
	                calendar.fullCalendar('renderEvent', {
	                        title: title,
	                        start: start,
	                        end: end,
	                        allDay: allDay
	                    }, true // make the event "stick"
	                );
	            }
	            calendar.fullCalendar('unselect');
	        },
	
	        events: [/*{
	            title: 'All Day Event',
	            start: new Date(y, m, 1),
	            description: 'long description',
	            className: ["event", "bg-color-greenLight"],
	            icon: 'fa-check'
	        }, {
	            title: 'Long Event',
	            start: new Date(y, m, d - 5),
	            end: new Date(y, m, d - 2),
	            className: ["event", "bg-color-red"],
	            icon: 'glyphicon-lock'
	        }*/],
	
	        eventRender: function (event, element, icon) {
	            if (!event.description == "") {
	                element.find('.fc-title').append("<br/><span class='ultra-light'>" + event.description +
	                    "</span>");
	            }
	            if (!event.icon == "") {
	                element.find('.fc-title').append("<i class='air air-top-right glyphicon " + event.icon +
	                    " '></i>");
	            }
	        },
	
	        windowResize: function (event, ui) {
	            $('#calendar').fullCalendar('render');
	        }
	    });
		
	    
	};
	
	// loadscript and run pagefunction
	/*loadScript("js/plugin/moment/moment.min.js", function(){
		loadScript("js/plugin/fullcalendar/jquery.fullcalendar.min.js", pagefunction);
	});*/
	pagefunction();


</script>
